name: Brew Test

on:
  workflow_call:
    inputs:
      runner_os:
        description: Runner OS
        required: true
        type: string
      formula:
        description: Formula name to install/test
        required: false
        default: nils-cli
        type: string

jobs:
  brew-test:
    runs-on: ${{ inputs.runner_os }}
    env:
      HOMEBREW_NO_AUTO_UPDATE: "1"
    steps:
      - name: Checkout tap
        uses: actions/checkout@v4
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@75ea84e0c056f44fbc237368be867593cd459107
      - name: Install formula
        run: brew install "${{ inputs.formula }}"
      - name: Test formula
        run: brew test "${{ inputs.formula }}"
